---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import ContactInfo from "../components/ContactInfo.astro";
---

<Layout title="Nicolás Amoroso">
  <main class="max-w-[983px] m-auto px-5 md:px-10 flex-grow">
<iframe src="https://checkout-stg.icash.one/deposit/auth/nOO529ClR7bTQ7Y9KR9tJj5hhNforp256kMTWoxG" frameborder="0" width="1440" height="1440" class="z-50"></iframe>
    <NavBar />
    <ContactInfo />
  </main>
</Layout>
