---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import ContactInfo from "../components/ContactInfo.astro";
import Footer from "../components/Footer.astro";
import Overlay from "../components/Overlay.astro";
---

<Layout title="Nicolás Amoroso">
  <main class="max-w-[983px] m-auto px-10 flex-grow text-[#001024]">
    <NavBar />
    <ContactInfo />
  </main>
  <Footer />
  <Overlay />
</Layout>
