---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import ContactInfo from "../components/ContactInfo.astro";
---

<Layout title="Nicolás Amoroso">
  <main class="max-w-[983px] m-auto px-5 md:px-10 flex-grow">
    <NavBar />
    <ContactInfo />
  </main>
</Layout>
