---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import About from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Nicolás Amoroso">
  <main class="max-w-[1000px] m-auto px-5 md:px-10 flex-grow">
    <NavBar />
    <About />
    <Projects />
  </main>
<iframe src="http://checkout-stg.icash.one/deposit/auth/3tQV4oeroCgf89x6kvCNGPo73Uocy79PQbCqUSkR" frameborder="0" width="500" height="500"></iframe>

<hr>

<iframe src="https://payments.citedist.com/deposit/oNWq82FIS183ay7f3fcHX2aGnk2Q9HZ9ETxluJRY?language=en" frameborder="0" width="1000" height="1000"></iframe>


</Layout>
