---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import About from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Nicolás Amoroso">
  <main class="max-w-[1000px] m-auto px-5 md:px-10 flex-grow">
    <NavBar />
    <About />
    <Projects />
  </main>
</Layout>
