<section class="relative z-50 mt-8 flex flex-col gap-5">
  <article class="flex flex-col justify-center">
    <h1
      class="text-red-900 dark:text-blue-900 font-bold text-3xl xs:text-5xl md:text-6xl lg:text-8xl"
    >
      Hi there! I'm Nico
    </h1>
    <h2
      class="font-bold text-[18.5px] xs:text-[29.5px] md:text-[37px] lg:text-[59px]"
    >
      A web developer enthusiast
    </h2>
  </article>
  <article class="flex flex-col gap-5 text-sm sm:text-md md:text-lg dark:text-[#cacaca]">
    <p>
      I'm a 23-year-old student from Uruguay, currently enrolled in <a
        class="underline text-[#ddd] italic"
        href="/certificates/academic_transcript.pdf"
        >Information Technology Analyst</a
      > at ORT University.
    </p>
    <p class="flex flex-col">
      I’m fascinated by the web as a platform to create amazing experiences that
      can reach anyone, anywhere, anytime.
      <span>
        I love taking on new projects with careful planning, focusing on
        achieving the goals in the shortest time possible. My motivation lies in
        learning constantly new technologies to strengthen my skills.
      </span>
    </p>
  </article>
</section>
