---
import NavItem from "./NavItem.astro";
---

<nav class="relative z-50 flex justify-end mt-5 md:mt-[8vh] select-none">
  <ul class="flex gap-10 items-center text-sm md:text-lg">
    <NavItem href="/">Home</NavItem>
    <NavItem href="/contact">Contact</NavItem>
  </ul>
</nav>
