---
export interface Props {
  href: string;
}

const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
  <a href={href} class={isActive ? "font-medium" : undefined}>
    <slot />
  </a>
</li>
