---
export interface Props {
  href: string;
}

const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<li>
  <a href={href} class={isActive ? "font-medium dark:text-[#ffffff]" : "p-2 font-normal text-[#001024] dark:text-[#b5b5b5] hover:font-medium hover:text-black hover:dark:text-[#929292]"}>
    <slot />
  </a>
</li>
