---
export interface Props {
  href: string;
}

const { href } = Astro.props;
const currentPath = Astro.url.pathname;
---

<li>
  href: {href}
  <div>--</div>
  currentPath: {currentPath}
  <div>--</div>
  <a href={href}>
    <slot />
  </a>
</li>
