<div class="grid-overlay"></div>
<style>
  .grid-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 2rem;
    background-color: #2c8aaf1a;
    background-image: -o-radial-gradient(
        at 80% 10%,
        rgba(6, 24, 127, 0.114) 0px,
        transparent 50%
      ),
      -o-radial-gradient(at 80% 0%, rgba(31, 166, 190, 0.1) 0px, rgba(
              255,
              255,
              255,
              0
            )
            50%),
      -o-radial-gradient(at 80% 50%, rgba(18, 93, 134, 0.1) 0px, rgba(
              255,
              255,
              255,
              0
            )
            50%),
      -o-radial-gradient(at 10% 100%, rgba(13, 75, 198, 0) 0px, rgba(
              255,
              255,
              255,
              0
            )
            50%),
      -o-radial-gradient(at 80% 100%, rgba(12, 7, 135, 0) 0px, rgba(
              255,
              255,
              255,
              0
            )
            50%),
      -o-radial-gradient(at 0% 0%, rgba(8, 148, 143, 0.25) 0px, rgba(
              255,
              255,
              255,
              0
            )
            50%);
    background-image: radial-gradient(
        at 80% 10%,
        rgba(6, 24, 127, 0.114) 0px,
        transparent 50%
      ),
      radial-gradient(at 80% 0%, rgba(31, 166, 190, 0.1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, rgba(18, 93, 134, 0.1) 0px, transparent 50%),
      radial-gradient(at 10% 100%, rgba(13, 75, 198, 0) 0px, transparent 50%),
      radial-gradient(at 80% 100%, rgba(12, 7, 135, 0) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgba(8, 148, 143, 0.25) 0px, transparent 50%);
  }
</style>
