---
// import Stack from "./Stack.astro";

// const stackEcommerce = [
//   {
//     href: "https://en.wikipedia.org/wiki/HTML",
//     name: "HTML",
//   },
//   {
//     href: "https://en.wikipedia.org/wiki/CSS",
//     name: "CSS",
//   },
//   {
//     href: "https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)",
//     name: "Bootstrap",
//   },
//   {
//     href: "https://en.wikipedia.org/wiki/JavaScript",
//     name: "JavaScript",
//   },
//   {
//     href: "https://es.wikipedia.org/wiki/MongoDB",
//     name: "MongoDB",
//   },
//   {
//     href: "https://en.wikipedia.org/wiki/Vercel",
//     name: "Vercel",
//   },
// ];
---

<section class="relative z-50 mt-10 md:mt-[15vh] flex flex-col gap-5">
  <h1 class="text-xl md:text-3xl font-medium">Projects</h1>
  <article class="grid lg:grid-cols-2 gap-5">
    <article class="card p-3 md:p-5 rounded-2xl flex flex-col gap-5">
      <figure class="rounded-xl bg-[#ffffffab] p-3">
        <img
          src="/img/ecommerce.png"
          alt="ecommerce preview"
          width="1080"
          height="542"
          class="select-none"
        />
      </figure>
      <div class="flex flex-col gap-2">
        <h2 class="text-lg md:text-xl font-medium">e-commerce</h2>
        <p class="text-sm md:text-lg text-[#001024c3]">
          A web app that allows you to buy products and manage your cart.
        </p>
      </div>
      <!-- <div class="flex flex-col gap-2">
        <Stack arr={stackEcommerce} />
      </div> -->
      <p class="flex gap-5 font-medium text-md select-none">
        <a
          href="https://jap.nicoamoroso.me/"
          target="_blank"
          class="text-md hover:underline">View Project</a
        >
        <a
          href="https://github.com/nicolasamoroso/ecommerceRes"
          target="_blank"
          class="text-md hover:underline">GitHub</a
        >
      </p>
    </article>
  </article>
</section>
<style>
  .card {
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 2rem 5rem -1rem rgba(0, 16, 36, 0.108),
      inset 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 2rem 5rem -1rem rgba(0, 16, 36, 0.108),
      inset 0 1px rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
</style>
